<div class="container">
    <ul>
        <li><a href="/uvideos?q=v">Home Page Sample Videos</a></li>
        <li><a href="/uvideos?q=s">Home Page Sample Paintings</a></li>
        <li><a href="/uvideos?q=g">Gallery Slideshow Paintings</a></li>
        <li><a href="/uvideos?q=gp">Gallery Paintings</a></li>
        <li><a href="/uvideos?q=cat">Upload New Artwork to Categories</a></li>
    </ul>
    {{#if error}}
    <p class="text-danger">Error While Connecting to Database!</p>
    {{/if}}
</div>